<div class="columns" *ngIf="album">
  <div class="column is-3">
    <ma-spotify-poster [album]="album" [size]="'lg'"></ma-spotify-poster>
  </div>
  <div class="column">
    <table class="table">
      <thead>
      <tr>
        <th>Track name</th>
        <th>Play</th>
        <th>Duration</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let track of album.tracks.items">
        <td>{{ track.name }}</td>
        <td>
          <ma-track-player [track]="track" [(play)]="track.isPlaying"></ma-track-player>
          <button (click)="track.isPlaying = !track.isPlaying">P</button>
          {{ track.isPlaying }}
        </td>
        <td>{{ track.duration_ms }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
