<div class="columns">
  <div class="column is-3">
    <div class="columns is-multiline">
      <ma-spotify-poster *ngFor="let bookmark of bookmarks" size="sm"
                         [album]="bookmark" class="column is-6">
        <ma-bookmark-remove [item]="bookmark"></ma-bookmark-remove>
      </ma-spotify-poster>
    </div>
  </div>
  <div class="column">
    <h1 class="title">Albums finder</h1>
    <form class="control has-addons">
      <input #queryRef="ngModel" type="text" class="input" name="query" [(ngModel)]="query">
      <button class="button" (click)="searchAlbums(true)"
              [class.is-loading]="loading">Search
      </button>
    </form>
    <div class="columns is-multiline" infinite-scroll (scrolled)="onScroll($event)">
      <div class="column is-4" *ngFor="let album of albums">
        <ma-spotify-poster [maBookmark]="album" [album]="album" size="lg">
          <ma-bookmark-add [item]="album"></ma-bookmark-add>
        </ma-spotify-poster>
      </div>
    </div>
  </div>
</div>
