<div class="columns">
  <form class="column is-6 is-offset-3" #formRef="ngForm" novalidate>
    <label for="name" class="label">Name:</label>
    <div class="control">
      <input id="name" name="name" #nameRef="ngModel"
             [(ngModel)]="contact.name" type="text" class="input"
             [class.is-danger]="nameRef.invalid && nameRef.dirty"
             required minlength="3">
      <div *ngIf="nameRef.invalid && nameRef.dirty" class="help is-danger">
        <span *ngIf="nameRef.errors?.required">Field is required</span>
        <span *ngIf="nameRef.errors?.minlength">
          You need to fill at least {{ nameRef.errors?.minlength.requiredLength }}
          letters (but only got {{ nameRef.errors?.minlength.actualLength }})
        </span>
      </div>
    </div>

    <label for="email" class="label">Email:</label>
    <div class="control">
      <input id="email" name="email" #emailRef="ngModel"
             [(ngModel)]="contact.email"
             [class.is-danger]="emailRef.invalid && emailRef.dirty"
             type="email" class="input" required>
      <div *ngIf="emailRef.invalid && emailRef.dirty" class="help is-danger">
        <span *ngIf="emailRef.errors?.required">Field is required</span>
        <!-- TODO: <span *ngIf="emailRef.errors?.email">Enter a correct email</span>-->
      </div>
    </div>

    <div class="control">
      <button class="button is-primary" [disabled]="formRef.invalid">Send</button>
    </div>
  </form>
</div>
