<nav class="nav has-shadow">
  <div class="nav-left">
    <a *ngFor="let item of menuItems" class="nav-item is-tab"
       [routerLink]="item.route"
       routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: item.exact}">
      {{item.label}}
    </a>
  </div>
</nav>

<router-outlet></router-outlet>
