<img [src]="imgUrl" alt="" [@hasAlbum]="album ? 'exist' : ''">
<ng-content></ng-content>
<h3 class="subtitle" [ngStyle]="{'font-size.px': (size == 'sm') ? 11 : 15}">
  <a [routerLink]="['/spotify', album.id]">
    {{album.name | truncate:(size == 'sm') ? 15 : 30}}
  </a>
</h3>
