<!-- todo-item.component.html -->
<div class="panel-block" [ngClass]="{completed: item.completed}"
  (click)="toggleTodo()">
  {{item.text}}
  <button class="button is-small is-danger is-pulled-right" (click)="onRemove($event)"> X </button>
</div>
