<!-- todo.component.html -->
<nav class="panel">
  <div class="panel-heading completed">Todosy: {{todosCompleted}} / {{todos.length}}</div>
  <ma-todo-form (itemCreated)="createItem($event)"></ma-todo-form>
  <ma-todo-item *ngFor="let item of todos"
                [item]="item"
                (completed)="onTodoCompleted(item, $event)"
                (removed)="onTodoRemove(item)"></ma-todo-item>
</nav>
